/* global code  */

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: auto;
    max-width: 100%;
}

header {
	position: relative;
	display: flex;
	background-color: rgba(215, 228, 212, 1);
	justify-content: center;
	padding-top: 40px;
}

h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	color: rgba(7, 65, 30, 1);
}

.sitename {
	color: rgba(7, 65, 30, 1);
	font-size: 20px;
}

#hamburger-checkbox:checked ~ nav {
    display: block;
    position: absolute;
    bottom: -80px;
	right: 10px;
}

nav, #hamburger-checkbox {
    display: none;
}

nav a {
	color: rgba(7, 65, 30, 1);
    display: block;
	text-decoration: none;
}

.fa-bars {
    position: absolute;
    font-size: 16px;
    bottom: 20px;
    right: 20px;
}

.onpage {
    font-weight: bold;
}

main {
	background-color: rgba(215, 228, 212, 0.32);
}

.footer {
	background-color: rgba(215, 228, 212, 1);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
}

.some-icons {
	color: rgba(7, 65, 30, 1);
	display: flex;
	font-size: 25px;
	gap: 25px;
}

.by-name {
	color: rgba(7, 65, 30, 1);
	font-size: 20px;
}

/* index.html  */

.homepage-first-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage-image {
	max-width: 100%;
}

.index-section-two {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	display: flex;
	justify-content: center;
    flex-direction: column;
}

.index-section-two-header, .latest-post-header {
	text-align: center;
}

.latest-post-header {
	font-size: 35px;
	padding-top: 100px;
}

.index-section-two-part-one, .index-section-two-part-two, .index-section-two-part-three {
	padding: 20px 30px;
	text-align: center;
	font-size: 20px;
}

.homepage-container {
	display: flex;
	position: relative;
	justify-content: center;
    flex-wrap: wrap;
	align-items: flex-end;
	gap: 20px;
	padding-bottom: 40px;
}

.card {
	max-width: 300px;
	text-align: center;
}

.card-image {
	max-width: 300px;
	max-height: 300px;
	justify-content: center;
}

.fa-chevron-left, .fa-chevron-right {
	font-size: 26px;
	
}

.fa-chevron-right {
	position: absolute;
    right: 50px;
    top: 710px;
}


/* about.html */


.about-section, .about-text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.about-text {
	color: rgba(7, 65, 30, 1);
	text-align: center;
	position: relative;
	z-index: 10;
	background-color:  rgba(215, 228, 212, 1);
	padding: 30px;
	max-width: 800px;
}

/* blogs.html */

#blog-container {
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
	align-items: flex-end;
	gap: 40px;
}


/* specificblog.html */



/* contact.html */

.contact-header {
	padding-left: 30px;
	padding-top: 40px;
}

#contact-form {
	display: flex;
	flex-direction: column;
	padding: 20px 30px 80px 30px;
}

form label {
	padding-bottom: 10px;
	padding-top: 10px;
}

#name, #email, #subject {
	max-width: 250px;
	padding: 5px;
}

#subject {
	max-width: 450px;
}

#message {
	max-width: 650px;
}

.submit-message-button, #view-more-button {
	margin-top: 30px;
	max-width: 100px;
	padding: 5px 10px;
	background-color: rgba(56, 109, 77, 1);
	color: white;
	font-size: 16px;
}

.form-error {
	display: none;
	color: red;
}


/* responsive */

@media(min-width:550px) {

	.sitename {
		padding-left: 40px;
	}

}

@media(min-width:680px) {

	.fa-bars, .sitename {
        display: none;
    }

	nav {
        display: flex;
        font-size: 20px;
		gap: 60px;
		padding-bottom: 20px;
    }
}


@media(min-width:820px) {

    nav {
        display: flex;
        font-size: 20px;
		gap: 100px;
    }

	.about-section, #contact-form {
		padding: 40px 150px 80px 150px;
	}

	#contact-form {
		padding-top: 0px;
	}

	.contact-header {
		padding-left: 150px;
	}

}

@media(min-width:860px) {

	.homepage-first-container {
		display: grid;
		grid-template-columns: 500px 1fr;
	}

	.about-text {
		font-size: 20px;
	}

}


@media(max-width:1040px) {
	.fa-chevron-left, .fa-chevron-right {
		display: none;
	}
}