/* global code  */

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: auto;
	max-width: 100%;
	min-height: 80vh;
}

header {
	position: relative;
	display: flex;
	background-color: rgba(215, 228, 212, 1);
	justify-content: center;
	padding-top: 40px;
}

h1 {
	font-size: 20px;
	color: rgba(7, 65, 30, 1);
}

h2 {
	color: rgba(7, 65, 30, 1);
}

.sitename {
	color: rgba(7, 65, 30, 1);
	font-size: 26px;
	text-decoration: none;
}

#hamburger-checkbox:checked~nav {
	display: block;
	position: absolute;
	bottom: -160px;
	right: 0px;
}

nav,
#hamburger-checkbox {
	display: none;
	padding: 20px;
	background-color: rgba(215, 228, 212, 1);
}

nav a {
	color: rgba(7, 65, 30, 1);
	display: block;
	text-decoration: none;
	padding: 4px;
	font-size: 22px;
}

.fa-bars {
	position: absolute;
	font-size: 26px;
	bottom: 30px;
	right: 20px;
	color: rgba(7, 65, 30, 1);
}

.onpage {
	font-weight: bold;
}

main {
	background-color: rgba(215, 228, 212, 0.32);
}

.footer {
	background-color: rgba(215, 228, 212, 1);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
}

.some-icons {
	color: rgba(7, 65, 30, 1);
	display: flex;
	gap: 15px;
}

.by-name {
	font-size: 12px;
	color: rgba(7, 65, 30, 1);
}

/* index.html  */

.homepage-first-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepage-image {
	max-width: 100%;
}

.homepage-header,
.latest-post-header {
	text-align: center;
	font-size: 26px;
}

.latest-post-header {
	padding-top: 40px;
}

.first-container-text {
	padding: 20px 30px;
	text-align: center;
	font-size: 20px;
}

.latest-post-container {
	display: flex;
	justify-content: center;
}

.carousel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	gap: 20px;
	padding: 0px;
}

.index-card {
	display: block;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	padding: 20px 40px;
	margin-top: 20px;
	background-color: rgba(215, 228, 212, 1);
}

.post-title {
	display: flex;
	padding: 10px;
}

.card-image {
	max-width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.view-more-container {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

/* about.html */

.about-section,
.about-text {
	display: flex;
	flex-direction: column;
}

.about-text {
	color: rgba(7, 65, 30, 1);
	text-align: center;
	z-index: 10;
	padding: 30px;
	gap: 30px;
}

/* blogs.html */

#blog-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.card {
	max-width: 300px;
	text-align: center;
	display: none;
}

.blog-image {
	max-width: 100%;
	max-height: 300px;
	object-fit: cover;
}

/* specificblog.html */

.specific-blog-main {
	display: flex;
	padding: 20px;
}

.image-content-container {
	display: flex;
	flex-direction: column;
	/* padding: 20px; */
}

.specificblog-image {
	display: flex;
	max-width: 250px;
}

/* specificblog.html modal styles */

.modal-image {
	max-width: 100%;
}

dialog::backdrop {
	background-color: rgba(215, 228, 212, 1);
}

/* contact.html */

.contact-main {
	padding: 20px;
}

.contact-header {
	padding-left: 30px;
	padding-top: 40px;
}

#contact-form {
	display: flex;
	flex-direction: column;
	padding: 20px 30px 80px 30px;
}

form label {
	padding-bottom: 10px;
	padding-top: 10px;
}

#name,
#email,
#subject {
	max-width: 250px;
	padding: 5px;
}

#subject {
	max-width: 450px;
}

#message {
	max-width: 650px;
}

.submit-message-button,
#view-more-button,
.read-more-button {
	margin-top: 30px;
	padding: 5px 10px;
	background-color: rgba(56, 109, 77, 1);
	color: white;
	font-size: 16px;
}

.submit-message-button {
	max-width: 100px;
}

.form-error {
	display: none;
	color: red;
}


/* responsive */

@media(min-width:550px) {

	.sitename {
		padding-left: 40px;
	}

	.homepage-image {
		padding-top: 20px;
	}

}

@media(min-width:680px) {

	.fa-bars,
	.sitename {
		display: none;
	}

	nav {
		display: flex;
		font-size: 20px;
		gap: 60px;
		padding-bottom: 20px;
	}

	h1 {
		font-size: 26px;
	}

	.some-icons {
		font-size: 25px;
	}

	.by-name {
		font-size: 20px;
	}

	.image-content-container {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

}


@media(min-width:820px) {

	nav {
		display: flex;
		font-size: 26px;
		gap: 100px;
	}


	.about-section,
	#contact-form {
		padding: 40px 150px 80px 150px;
	}

	#contact-form {
		padding-top: 0px;
	}

	.contact-header {
		padding-left: 150px;
	}

	.about-image {
		max-width: 550px;
	}

}

@media(max-width:860px) {

	.carousel-arrow,
	#carousel-arrow-prev,
	#carousel-arrow-next {
		display: none;
	}
}

@media(min-width:860px) {

	.homepage-image-container {
		float: left;
	}

	.about-text {
		font-size: 20px;
	}

	.latest-post-container {
		max-width: 1100px;
		margin: 20px auto;
		position: relative;
		overflow: hidden;
		background-color: rgba(215, 228, 212, 1);
	}

	.latest-post-header {
		font-size: 35px;
		padding-top: 50px;
	}

	.post-title {
		font-size: 20px;
	}

	.carousel-container {
		height: 500px;
		max-width: 100%;
		display: flex;
		flex-direction: row;
		overflow: scroll;
		scroll-behavior: smooth;
		list-style: none;
		padding: 0;
		gap: 0;
	}

	.index-card {
		width: 100%;
		height: 80%;
		flex: 1 1 100%;
	}

	.card-image {
		max-width: 400px;
		max-height: 250px;
		object-fit: cover;
	}

	.carousel-arrow {
		position: absolute;
		display: flex;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 4rem;
		color: white;
		background-color: rgba(7, 65, 30, 1);
		border: none;
		width: 2rem;
		font-size: 3rem;
		padding: 0;
		cursor: pointer;
		opacity: 0.5;
		transition: opacity 100ms;
	}

	.carousel-arrow:hover,
	.carousel-arrow:focus {
		opacity: 1;
	}

	#carousel-arrow-prev {
		left: 0;
		padding-left: 0.25rem;
		border-radius: 0 2rem 2rem 0;
	}

	#carousel-arrow-next {
		right: 0;
		padding-left: 0.75rem;
		border-radius: 2rem 0 0 2rem;
	}

}


@media(max-width:1040px) {

	.fa-chevron-left,
	.fa-chevron-right {
		display: none;
	}
}



@media(min-width:1200px) {}